<% @courses.each do |course| %>
  <div class="zazz-box col-10 offset-1"> 
    <h1><%= course.name %></h1>
    <i ><%= course.address %></i><br /><br />
    <p><%= course.description %></p><br />
  </div>

<% end %>